<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
    </head>
    <body>
      <div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" style="position: relative;">
        <a class="navbar-brand" href="#">Info-Buzz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a *ngIf="isloggedin()" class="nav-link" routerLink="main">List</a></li>

        <li><a *ngIf="!isloggedin()" routerLink="sign-in" class="nav-link" type="button">sign-in</a></li>

        <!-- <li class="nav-item"><a class="nav-link" routerLink="sign-in">sign In</a></li> -->
        <li><a *ngIf="isloggedin()" (click)="Logout()" type="button" class="nav-link">Logout</a></li>
        <li><a *ngIf="isloggedin()"  (click)="profile()" type="button" class="nav-link">Profile</a></li>
        <li><a *ngIf="isloggedin()" routerLink="chats" type="button" class="nav-link">Chats</a></li>
        <li class="nav-item"><a *ngIf="!isloggedin()" class="nav-link" routerLink="sign-up" type="button">Sign Up</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" type="button" routerLink="profile">Profile</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  
<!-- <div class="chat">
    <button type="button" id="fixedbutton"><img src="../../../assets/images/chat with us.png" /></button>
</div> -->
<!-- <div id="mySidenav" class="sidenav">
  <a href="#">About</a>
</div> -->
<button (click)="onAdd()" type="button" class="btn btn-success" id="fixedbutton" matTooltip="Chat with Us">Chat with us</button>
</div>
</body>
</html>