input#message {
    background:none;
    border:none;
    border-bottom: 1px solid #4C4C4C;
    outline:none;
    box-shadow:none;
    color:black;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em 0;
    margin-left: 20px;
}
.rowcolumns
{
    margin-left: 7px;
    margin-right: 7px;
}
.chat-container {
    width:99%;
   
}
.chat-container:nth-child(4) {
    opacity: .8;
}
.chat-container:nth-child(3) {
    opacity: .6;
}
.chat-container:nth-child(2) {
    opacity: .4;
}

.chat-container a {
    text-transform: uppercase;
    font-weight:bold;
    background:#c6b3e4;
    color:#f3060618;
    font-size:.8em;
    letter-spacing:1px;
    padding:1em;
    
}
.para
{
    background:#ece6e7;
    color:rgb(14, 13, 13);
    padding: 8px;
    height: fit-content;
    margin: 5px 0 5px 0;
     
}
.chat-container p {
    background:#f7f4fc;
    color:rgb(10, 10, 10);
    padding: 8px;
    margin: 5px 0 5px 0;
    
}